IP_MEMORIA=192.168.1.29
PUERTO_MEMORIA=8002
IP_FILESYSTEM=192.168.1.34
PUERTO_FILESYSTEM=8003
IP_CPU=192.168.1.32
PUERTO_CPU=8001
PUERTO_ESCUCHA=8000
ALGORITMO_PLANIFICACION=FIFO
ESTIMACION_INICIAL=10000
HRRN_ALFA=0.5
GRADO_MAX_MULTIPROGRAMACION=3
RECURSOS=[DISCO,IMPRESORA,SCANNER]
INSTANCIAS_RECURSOS=[1,1,1]